.collection-preview{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.title_c{
    font-size: 28px;
    margin-bottom: 25px;
}

.preview_c{
    display: flex;
    justify-content: space-between;
}