.collection-page{
    display: flex;
    flex-direction: column;
}

.collection-title{
    font-size: 38px;
    margin: 0 auto 30px; 
}

.collection-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}